/.venv

/target
/.snfoundry_cache

Cargo.lock
Scarb.lock

/resources
.cargo/config.toml
bin/client/proptest-regressions/
resources/json_generator_out/


.snfoundry_cache/
src/agreement_version_2/target
Notes.txt